<div class='logo-box'>
<h1>DIMEPAY</h1>
<%= image_tag('logo.jfif', alt: 'Logo', class: 'logo') %>
<%= link_to "Log In", new_user_session_path, class: "btn btn-secondary" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>
